:root {
  --fc-small-font-size: 0.85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #f57373;
  --fc-border-color: #ddd;

  --fc-button-text-color: #fff;
  --fc-button-bg-color: #1a5897;
  --fc-button-border-color: #2c3e50;
  --fc-button-hover-bg-color: #1e2b37;
  --fc-button-hover-border-color: #1a252f;
  --fc-button-active-bg-color: #267dcf;
  --fc-button-active-border-color: #3b85ce;

  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(226, 220, 220, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(58, 210, 240, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}

.demo-app-main {
  min-width: 300px;
  /* margin-top: -24px; */
  margin-left: -20px;
  margin-right: -20px;
  background-color: #fff;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.fc table,
html .fc {
  font-size: 0.6rem;
}

.fc .fc-scrollgrid {
  border-radius: 0.47rem;
}

.fc-scroller calendar-scroll-shadow--right {
  overflow: hidden !important;
}