:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #ff2f14;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}
/* //original */
.fc {
  --fc-border-color: var(--bs-gray-300);
  --fc-page-bg-color: #ffffff;
  --fc-small-font-size: 1rem;
  --fc-highlight-color: var(--bs-light);
  --fc-bg-event-opacity: 0.3;
  --fc-neutral-bg-color: var(--bs-light);
  --fc-today-bg-color: var(--bs-success-light);
  --fc-now-indicator-color: var(--bs-danger);
  --fc-list-event-hover-bg-color: var(--bs-light);
  --fc-button-text-color: var(--bs-gray-600);
  --fc-button-bg-color: var(--bs-gray-100);
  --fc-button-border-color: var(--bs-gray-100);
  --fc-button-hover-bg-color: var(--bs-gray-100);
  --fc-button-hover-border-color: var(--bs-gray-100);
  --fc-button-active-bg-color: var(--bs-gray-200);
  --fc-button-active-border-color: var(--bs-gray-200);
}
/* tests
.fc {
    --fc-border-color: rgb(222, 222, 222);
    --fc-page-bg-color: #c88a8a;
    --fc-small-font-size: 0.95rem;
    --fc-highlight-color: #d6d4d4ea;
    --fc-bg-event-opacity: 0.3;
    --fc-neutral-bg-color: #d6d4d4ea;
    --fc-today-bg-color: rgb(145, 191, 173);
    --fc-now-indicator-color:red;
    --fc-list-event-hover-bg-color: rgb(233, 230, 230);
    --fc-button-text-color: rgb(255, 255, 255);
    --fc-button-bg-color: rgb(58, 102, 244);
    --fc-button-border-color: rgb(233, 36, 36);
    --fc-button-hover-bg-color: rgb(62, 102, 233);
    --fc-button-hover-border-color: rgb(238, 59, 59);
    --fc-button-active-bg-color:rgb(58, 102, 244);
    --fc-button-active-color:rgb(190, 196, 216);
    --fc-button-active-border-color: gray
} */

.demo-app-main {
  min-width: 300px;
  /* margin-top: -24px; */
  margin-left: -20px;
  margin-right: -20px;
  background-color: #fff;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.fc table,
html .fc {
  font-size: 0.6rem;
}


.fc-view {
  width: 100%;
  overflow: hidden;
}

.fc .fc-button-primary {
  margin: 0;
}

.fc .fc-button-primary .fc-icon {
  font-size: 1.35rem;
  margin-bottom: 0.15rem;
}

.fc .fc-button-primary:not(:disabled):not(.fc-button-active):active,
.fc .fc-button-primary:not(:disabled):not(.fc-button-active):focus,
.fc .fc-button-primary:not(:disabled):not(.fc-button-active):hover {
  color: var(--bs-gray-900);
}

.fc .fc-button-primary:not(:disabled):not(.fc-button-active):active .fc-icon,
.fc .fc-button-primary:not(:disabled):not(.fc-button-active):focus .fc-icon,
.fc .fc-button-primary:not(:disabled):not(.fc-button-active):hover .fc-icon {
  color: var(--bs-gray-900);
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  color: var(--bs-gray-900);
}

.fc .fc-button-primary:not(:disabled).fc-button-active .fc-icon {
  color: var(--bs-gray-900);
}

.fc .fc-button-group .fc-button {
  margin: 0 !important;
}

.fc .fc-toolbar-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--bs-gray-800);
}

.fc .fc-col-header-cell {
  padding: 0.75rem 0.5rem;
}

.fc .fc-col-header-cell .fc-col-header-cell-cushion {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--bs-gray-800);
}

.fc .fc-scrollgrid {
  border-radius: 0.7rem;
}

.fc .fc-scrollgrid thead > tr td:first-child {
  border-top-left-radius: 0.75rem;
}

.fc .fc-scrollgrid thead > tr td:last-child {
  border-top-right-radius: 0.75rem;
}

.fc .fc-scrollgrid tbody > tr:last-child td:first-child {
  border-bottom-left-radius: 0.75rem;
}

.fc .fc-scrollgrid tbody > tr:last-child td:last-child {
  border-bottom-right-radius: 0.75rem;
}

.fc .fc-daygrid-event {
  margin-top: 3px;
}

.fc .fc-daygrid-block-event .fc-event-time,
.fc .fc-daygrid-block-event .fc-event-title,
.fc .fc-daygrid-dot-event .fc-event-time,
.fc .fc-daygrid-dot-event .fc-event-title {
  padding: 0.25rem 0.25rem;
}

.fc .fc-daygrid-day-number {
  color: var(--bs-gray-800);
}

.fc .fc-daygrid-dot-event {
  background-color: var(--bs-light);
  color: var(--bs-gray-600);
}

.fc .fc-daygrid-dot-event .fc-event-title {
  font-weight: 500;
}

.fc .fc-daygrid-dot-event.fc-event-mirror,
.fc .fc-daygrid-dot-event:hover {
  background-color: var(--bs-light);
  color: var(--bs-primary);
}

.fc .fc-daygrid-event-dot {
  margin-left: 0.5rem;
  margin-right: 0.1rem;
}

.fc .fc-popover {
  border: 0 !important;
  background-color: var(--bs-body-bg);
  box-shadow: var(--bs-dropdown-box-shadow);
  border-radius: 0.475rem;
}

.fc .fc-popover .fc-popover-header {
  border-top-left-radius: 0.475rem;
  border-top-right-radius: 0.475rem;
  padding: 0.65rem 0.75rem;
  background-color: var(--bs-tooltip-bg);
}

.fc .fc-popover .fc-popover-header .fc-popover-title {
  color: var(--bs-gray-800);
  font-size: 1rem;
  font-weight: 500;
}

.fc .fc-popover .fc-popover-header .fc-popover-close {
  font-size: 1rem;
  color: var(--bs-gray-600);
}

.fc .fc-popover .fc-popover-header .fc-popover-close:hover {
  color: var(--bs-primary);
}

.fc .fc-popover .fc-popover-body {
  padding: 0.5rem 0.75rem 0.75rem 0.75rem;
}

.fc .fc-daygrid-more-link {
  font-weight: 500;
}

.fc .fc-timegrid-slot {
  height: 2rem;
  font-size: 0.95rem;
}

.fc .fc-list-day-cushion,
.fc .fc-list-table td {
  padding: 0.85rem 1.15rem;
}

.fc .fc-list-day-side-text,
.fc .fc-list-day-text {
  font-size: 1.1rem;
  color: var(--bs-gray-900);
  font-weight: 600;
}

.fc .fc-list,
.fc .fc-list-table {
  border-radius: 0.475rem;
}

.fc-border-separate th {
    border-width: 1px 0 0 1px;
}

.fc-widget-header {
    border: 1px solid #e1e1e1;
    color: #39464e;
    background-color: #fff;
    line-height: 19px;
}

.fc-scroller {
    line-height: 19px;
}

.fc .fc-list {
  overflow: hidden;
  position: relative;
}

.fc .fc-timegrid-axis {
  padding-left: 0;
  padding-right: 0;
}

.fc .fc-timegrid-event .fc-event-main {
  padding: 0.25rem 0.25rem;
}

.fc .fc-timegrid-now-indicator-arrow {
  margin-top: -1px;
}

.fc-h-event {
  font-weight: 400;
}

@media (max-width: 767.98px) {
  .fc .fc-header-toolbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(1),
  .fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
    order: 2;
  }

  .fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    order: 1;
  }

  .fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(1),
  .fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    margin-bottom: 1rem;
  }
}


/* yuri */


.fc .fc-col-header-cell {
    padding: 0;
}